## build files
/autom4te.cache/
/build/
/build-aux/
/m4/
/aclocal.m4
/configure
*.in
**/Makefile
/.vs/
/src/CMakeFiles/
/src/out/
/src/executable
/src/cmake_install.cmake
/src/CMakeCache.txt
/src/CMakeSettings.json
/configure.ac
**/Makefile.am
/.project

## temp files
*~
